.logo{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2rem;
}
.prlax{
    overflow: hidden;
}
.working_on{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2.5rem;
    .img{
        position: relative;
        width: 20rem;
        height: 20rem;
    }
}